.search-input-group {
    max-width: 350px;
}

.fa.fa-search {
    background: none;
    border-right: none;
    color: rgb(33 37 41 / 75%);
    padding: 8px 8px 0 8px;
}

.fa.fa-info-circle {
    color: #c5c5c5;
}

#search-input {
    border-left: none;
    max-width: 250px;
    padding-left: 0;
}

search-component {
    margin: 15px auto;
}